body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f6e4d6, #e7e0f2);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  
  font-family: 'Poppins', sans-serif;
}

.send-div {
  display: flex;
  gap: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px 4px 20px;
  box-sizing: border-box;
  background: #ffffff88;
  border-radius: 8px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .container::before {
  content: "";
  background: url("https://static.vecteezy.com/system/resources/previews/010/043/402/original/chatbot-robot-seamless-pattern-vector.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -2;
  opacity: 0.5;
}

.container::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -2;
  mix-blend-mode: soft-light;
  backdrop-filter: blur(4px);
} */

button {
  display: block;
  width: min-content;
  height: min-content;
  font-size: 16px;
  padding: 14px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

svg {
  margin-top: 6px;
  fill: #323232;
}

button:hover {
  background-color: #3e8e41;
}

h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 10px;
}

#input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  height: 26px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
  background: #dddddd58;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
#chatbot {
  scrollbar-width: auto;
  scrollbar-color: #828282 #ffffff;
  border-radius: 8px;
}

/* Chrome, Edge, and Safari */
#chatbot::-webkit-scrollbar {
  width: 16px;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px 22px;
    font-size: 16px;
    text-decoration: none;
    color: #323232;
}

#chatbot::-webkit-scrollbar-track {
  background: transparent;
}

#chatbot::-webkit-scrollbar-thumb {
  background-color: #828282;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* ===== CHATBOT CSS ===== */
#chatbot {
  background-color: #ffffffd8;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: scroll;
  position: relative;
}

/* .container::before {
    content: "";
    background: url("https://img.freepik.com/premium-vector/seamless-pattern-drawings-doodle-style-cute-robots-simple-illustration-kids_252097-343.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 95%;
    height: 73.4%;
    border-radius: 8px;
    left: 20;
    top: 68px;
    z-index: 0;
    opacity: 0.26;
} */

#chatbot p {
  margin: 10px 0;
  padding: 20px;
  max-width: 200px;
}

#chatbot .bot {
  background-color: #ececec;
  text-align: left;
  border-radius: 12px 12px 12px 0px;
  position: relative;
  left: 65px;
}

#chatbot .bot::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  left: -65px;
  background: url("../css/img/boy.png");
  border-radius: 50%;
  background-size: cover;
}

#chatbot .user {
  background-color: #589ffb;
  text-align: right;
  border-radius: 12px 12px 0px 12px;
  position: relative;
  color: white;
  right: 0;
  transform: translateX(177%);
}

#chatbot .user::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  right: -64px;
  bottom: 0;
  background: url("https://cdn.dribbble.com/users/916023/screenshots/17453788/media/2a7d1d4f5dc3e849aa87573d2d9f5f18.png?resize=840x630&vertical=center");
  border-radius: 50%;
  background-size: 260%;
  background-position: 48% 10%;
}
