/************************************************************************************
RESET
*************************************************************************************/
html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset {
  margin: 0;
  padding: 0;
}

img,
fieldset {
  border: 0;
}

/* set image max width to 100% */
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
  background: #0a011a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f6e4d6,
    #e7e0f2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f6e4d6,
    #e7e0f2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Poppins, sans-serif;
  line-height: 150%;
}
a {
  color: #031e37;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 1.2em;
  padding: 0;
}

/* list */
ul,
ol {
  margin: 1em 0 1.4em 24px;
  padding: 0;
  line-height: 140%;
}
li {
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 140%;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 28px;
  color: #000;
}
h2 {
  font-size: 17px;
  color: #000;
}
h3 {
  font-size: 28px;
  color: #000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h4 {
  font-size: 14px;
  font-weight: bold;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}

/* reset webkit search input styles */
input[type="search"] {
  -webkit-appearance: none;
  outline: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf") format("truetype"),
    url("fonts/icomoon.woff") format("woff"),
    url("fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/************************************************************************************
FONTS
*************************************************************************************/

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e600";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
  color: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}

/* site logo */
#site-logo {
  display: inline;
  float: left;
  width: 330px;
  height: 150px;
  margin: 0px;
  padding: 0px;
  background: url(img/skin_disease.jpg) no-repeat center 15px;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#main-nav {
  float: center;
  margin: 28px 0 0 0px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
}
#main-nav li:first-child {
  margin-left: 10px;
}
#main-nav a {
  line-height: 100%;
  font-size: 14px;
  width: max-content;
  margin: 50px;
  color: #fff;
  display: block;
  padding: 16px 15px;
  text-decoration: none;
}
#main-nav a:hover {
  color: #5f5f5f;
}

a.header-icon {
  color: #fff;
  font-size: 20px !important;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  float: left;
  padding: 10px 5px !important;
}

a.header-icon:first-child {
  margin-left: 40px;
}

a.header-icon:hover {
  text-decoration: none;
  color: #eee;
}

#beta-button {
  background: #ffc578;
  background: linear-gradient(to bottom, #ffc578 0%, #fb9d23 100%);
  border-radius: 6px;
  padding: 14px 30px !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.7);
  font-size: 16px !important;
  float: right;
  margin-top: 25px;
}
#beta-button:hover {
  text-decoration: none;
  background: linear-gradient(to bottom, #e7bb7f 0%, #eb972a 100%);
}

/************************************************************************************
CONTENT
*************************************************************************************/

.pic-icon {
  background: url(img/icons.png);
}

.center-title {
  text-align: center;
  padding-top: 35px;
}

.panel-inside {
  width: 960px;
  margin: auto;
}

.panel-img {
  display: block;
}

/************
PANEL #1
*************/

#panel1 {
  background-color: transparent;
  height: 625px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#panel1-inside {
  height: 625px;
  width: 1120px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: url(img/panel1_background.png) no-repeat left bottom; */
}

#panel1-right {
  margin-top: 90px;
  width: 700px;
  height: 415px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#panel1-right h1 {
  font-size: 50px;
  line-height: 3.2rem;
}

#panel1-right a {
  text-decoration: none;
  color: #031e37;
}

#panel1-header {
  color: #fff;
  font-size: 29px;
  line-height: 150%;
}

.panel-independent {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.ind-img1 {
  position: absolute;
  top: 100px;
  left: 80px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
}

.ind-img2 {
  position: absolute;
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px 0 0 100px;
  right: 0;
  bottom: 30%;
}

.ind-img3,
.ind-img4 {
  object-fit: cover;
  width: 150px;
  height: 250px;
  border-radius: 100px;
  bottom: -40px;
  position: absolute;
  left: 80px;
}

.ind-img3 {
  left: 140px;
}

.panel1-sq {
  /* float: left; */
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 30px;
  margin: 30px 0;
}

.panel1-sq .sq-icon2 {
  /* margin: 20px auto 10px auto; */
  height: 20px;
  color: #031e37;
  fill: white;
}

.panel1-sq .sq-title {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#sq2.panel1-sq {
  background-color: #ff8e00;
}

#sq3.panel1-sq {
  background-color: #000;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

#sq1.panel1-sq .sq-icon {
  width: 40px;
  background-position: 0 0;
}

#sq2.panel1-sq .sq-icon {
  width: 51px;
  background-position: -40px 0;
}

#sq3.panel1-sq .sq-icon {
  width: 46px;
  background-position: -91px 0;
}

#sq3.panel1-sq:hover {
  background: #ff8e00;
}

.down1 {
  width: 48px;
  height: 48px;
  background-position: 0 -40px;
  margin: 0 auto;
  display: block;
}
.down1:hover {
  background-position: -48px -40px;
}

/************
PANEL #2
*************/

#rest {
  background: linear-gradient(#101010, #010202);
  position: relative;
  z-index: 20;
}

#panel2 {
  background-color: transparent;
  color: #fff;
  margin-top: 725px;
  z-index: 10;
  width: 100%;
  position: relative;
  /* padding-bottom: 40px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 40px;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
}

#panel2 h1 {
  font-size: 200px;
  font-weight: 600;
  float: left;
  color: #fff;
}

#panel2 p {
  font-size: 24px;
  line-height: 160%;
  float: left;
  width: 500px;
  /* margin: 0 0 0 40px; */
  color: #fff;
  font-weight: 500;
}

.about-img1 {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 200px;
  height: 400px;
  object-fit: cover;
  border-radius: 100px 100px 100px 100px;
  object-position: 50%;
}
.about-img2 {
  position: absolute;
  top: 250px;
  right: 320px;
  width: 200px;
  height: 400px;
  object-fit: cover;
  border-radius: 100px 100px 100px 100px;
  object-position: 70%;
}

.blur-bg {
  top: 0;
  position: absolute;
  background: hsl(0, 0%, 96%);
  z-index: -1;
}

.center-title {
  font-size: 40px;
  font-weight: 700;
}

.panel2-sq {
  width: 210px;
  float: left;
  margin-right: 40px;
}

.panel2-sq .sq-icon {
  float: left;
  margin: 55px 0 60px 0;
}

.panel2-sq .sq-text {
  clear: both;
  font-size: 16px;
  line-height: 160%;
  float: left;
}

.panel2-sq .about-icon {
  margin: 40px 0 10px 0;
  width: 70px;
  height: 70px;
  fill: #ff8e00;
}

.panel-inside {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.panel-inside-inside {
  display: flex;
  width: 80%;
}

.about-sq {
  margin: 5px;
  width: 80%;
  background: transparent;
  border: 2px solid black;
  border-radius: 10px;
  height: 300px;
}

.about-sq1 {
  flex: 2;
  /* width: 300px; */
}

.about-sq2,
.about-sq3 {
  flex: 1;
}

/* #sq1.panel2-sq .sq-icon {
  background-position: 0 -88px;
  width: 67px;
  height: 65px;
}
#sq2.panel2-sq .sq-icon {
  background-position: -67px -93px;
  width: 62px;
  height: 62px;
}
#sq3.panel2-sq .sq-icon {
  background-position: -128px -88px;
  width: 67px;
  height: 65px;
}
#sq4.panel2-sq .sq-icon {
  background-position: -196px -88px;
  width: 67px;
  height: 65px;
} */

.down2 {
  width: 48px;
  height: 48px;
  background-position: -96px -40px;
  margin: 0 auto;
  display: block;
}
.down2:hover {
  background-position: -144px -40px;
}
.home {
  width: 48px;
  height: 48px;
  background-position: -193px -40px;
  margin: 40px auto 0 auto;
  display: block;
}
.home:hover {
  background-position: -241px -40px;
}

#panel2-down {
  margin-top: 30px;
}

/************
PANEL #3
*************/

#panel3 {
  background-color: transparent;
  color: #fff;
  margin-top: 100px;
  z-index: 10;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 40px;
  justify-content: flex-start;
  position: relative;
  height: 100vh;
}

#panel3 h1 {
  font-size: 150px;
  font-weight: 600;
  float: left;
  color: #fff;
}

#panel3 h3 {
  font-size: 40px;
  font-weight: 600;
  float: left;
  color: #fff;
  text-decoration: underline;
}

.how-panel {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.how-text {
  display: flex;
  flex-direction: column;
}

#panel3 img {
  width: 480px;
  height: 400px;
}

#panel3 p {
  font-size: 24px;
  line-height: 160%;
  float: left;
  width: 500px;
  /* margin: 0 0 0 40px; */
  color: #fff;
  font-weight: 500;
}

#panel3 .center-title {
  margin-bottom: 50px;
}

#panel3-sq1 {
  float: left;
  width: 350px;
  padding: 80px 50px 50px 0;
}

#panel3-sq1 h3 {
  color: #fff;
}

#sq3-text {
  color: #fff;
  font-size: 16px;
  padding-top: 30px;
  font-weight: lighter;
  line-height: 160%;
}

#panel3-sq2 {
  float: left;
  width: 509px;
  height: 422px;
}

#panel3 .clearfix {
  padding-bottom: 40px;
}

/************
PANEL #4
*************/
/* #panel4 {
  margin-top: 60px;
  background-color: transparent;
  z-index: 10;
  position: relative;
  padding-bottom: 40px;
  height: 100vh;
} */

#panel4 {
  background-color: transparent;
  color: #fff;
  z-index: 10;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding-left: 40px;
  justify-content: flex-start;
  position: relative;
  height: 110vh;
  padding-bottom: 50px;
}

#panel4 h1 {
  font-size: 150px;
  font-weight: 600;
  float: right;
  color: #fff;
}

#panel4 p {
  font-size: 24px;
  line-height: 160%;
  position: relative;
  right: 0;
  width: 500px;
  /* margin: 0 0 0 40px; */
  color: #fff;
  font-weight: 500;
  margin-right: 100px;
  text-align: right;
}

#panel4 #panel4-sq2 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

#panel4-sq1 {
  position: absolute;
  top: 255px;
  left: 125px;
  width: 340px;
  object-fit: cover;
  object-position: 50%;
}

.blur-bg2 {
  top: 49.9%;
  width: 100%;
}

#panel4 .clearfix {
  padding-bottom: 70px;
}

.data-panel-inside {
  display: flex;
  gap: 40px;
  align-items: start;
  justify-content: start;
}

/************
PANEL #5
*************/

#panel5 {
  background-color: transparent;
  z-index: 10;
  position: relative;
  padding-bottom: 40px;
}

#panel5 .center-title {
  margin-bottom: 50px;
  color: #fff;
}

#panel5-sq1 {
  float: left;
  width: 350px;
  padding: 80px 140px 50px 0;
}

#sq5-text {
  color: #fff;
  font-size: 16px;
  padding-top: 30px;
  font-weight: lighter;
  line-height: 160%;
}

#panel5-sq2 {
  float: left;
  width: 459px;
  height: 530px;
}

#panel5 .clearfix {
  padding-bottom: 15px;
}

/************
PANEL #6
*************/

#panel6 {
  background-color: #e1e1e1;
  z-index: 10;
  position: relative;
  padding-bottom: 40px;
}

#panel6 .center-title {
  margin-bottom: 50px;
}

.panel6-sq {
  width: 275px;
  height: 470px;
  float: left;
  background-color: #fff;
  margin-right: 25px;
  margin-top: 5px;
}

#panel6 img {
  padding: 30px;
  width: 108px;
  height: 108px;
  margin: auto;
  display: block;
}

#panel6 h4,
#panel6 .panel6-ttl,
#panel6 .panel6-desc {
  text-align: center;
  padding: 0 5px;
}

#panel6 .panel6-desc {
  padding-top: 32px;
  height: 182px;
}

#panel6 .panel6-in {
  background-color: #3fa9f5;
  text-align: center;
  padding: 10px;
}
#panel6 .panel6-in a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  font-size: 19px;
}
#panel6 .panel6-in a:hover {
  color: #eee;
  text-decoration: none;
}

#panel6 .clearfix {
  padding-bottom: 40px;
}

/************
PANEL #7
*************/

#panel7 {
  background-color: transparent;
  z-index: 10;
  position: relative;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#panel7 .panel-inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

#panel7 .center-title {
  color: #fff;
  font-size: 150px;
  margin-left: 50px;
}

#panel7 span {
  font-size: 24px;
}

#panel7 #sq1 {
  float: left;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#panel7 h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}

#panel7 #sq1 .panel7-adr {
  color: #fff;
  padding-bottom: 20px;
}

#panel7 #sq2 {
  float: left;
  width: 450px;
}

#panel7 a {
  text-decoration: none;
  color: white;
}

#panel7 a:hover {
  text-decoration: underline;
}

#panel7 #sq2 input[type="text"] {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-links svg {
  fill: #fff;
}

.contact-links a:hover svg {
  fill: #ffffffbb;
}

#submit {
  margin-top: 20px;
  padding: 8px 30px;
  background-color: #3fa9f5;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  float: left;
}

#submit:hover {
  text-decoration: none;
  background-color: #318bcc;
}

#panel7 #sq2 input[type="submit"]:hover {
  background-color: #4a94c9;
}

#panel7 {
  width: 100%;
}

#signup_done {
  display: none;
  padding: 72px 0 0 0;
  color: #e7bb7f;
}

/************
PANEL #8
*************/
#panel8 {
  background-color: white;
  /* color: #fff; */
  /* margin-top: 45px; */
  z-index: 10;
  width: 100%;
  position: relative;
  /* padding-bottom: 40px; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 0;
  padding-left: 40px;
  justify-content: flex-start;
  position: relative;
  height: 120vh;
  /* padding-bottom: 50px; */
}

#panel8 h1 {
  font-size: 150px;
  padding: 0;
  font-weight: 600;
  float: left;
  color: #000;
}

#panel8 .panel-inside {
  width: 600px;
  margin-bottom: 50px;
  overflow: hidden;
}

#panel8 .center-title {
  margin-bottom: 50px;
}

.update-panel {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 2px;
}

.update-panel-in {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.update-card {
  background: tomato;
  width: 300px;
  aspect-ratio: 1;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: baseline;
  padding-left: 2px;
  color: white;
  position: relative;
}

.update-card p {
  margin-left: 25px;
}

.card-bar {
  width: 8px;
  height: 28px;
  background: tomato;
  position: relative;
}

.card-bar::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 10px;
  background: tomato;
  bottom: 0;
  left: 0;
}

.aimodel .update-card,
.aimodel .card-bar {
  background: #bc3ffa;
}

.aimodel .update-card {
  transform: rotate(-4deg);
}

.aimodel .card-bar::after {
  background: #a120e1;
}

.working .update-card,
.working .card-bar {
  background: #fbae17;
}

.working .update-card {
  transform: rotate(2deg);
}

.working .card-bar::after {
  background: rgb(232, 160, 16);
}

.completed .update-card,
.completed .card-bar {
  background: #3fa9f5;
}

.completed .update-card {
  transform: rotate(-3deg);
}

.completed .card-bar::after {
  background: #197dc5;
}

.tape {
  position: absolute;
  width: 130px;
  background: grey;
  mix-blend-mode: screen;
  height: 40px;
  z-index: 30;
  opacity: 0.2;
}

.aimodel .tape {
  top: -15px;
  left: 50%;
  transform: rotate(4deg) translateX(-50%);
}

.working .tape {
  bottom: 0;
  right: -45px;
  transform: rotate(-42deg);
  width: 150px;
}

.completed .tape {
  top: 0;
  right: -40px;
  transform: rotate(40deg);
}

.ai-head {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.feed-icon {
  width: 30px;
  height: 30px;
  background-position: -140px 0;
  float: left;
}
.feed-entry {
  clear: both;
  height: 30px;
  padding: 10px 5px;
  display: block;
  border: 1px solid #fff;
  border-radius: 3px;
}

.feed-entry:hover {
  border: 1px solid #3fa8f5;
  background-color: #efefef;
}

.feed-title {
  float: left;
  font-weight: bold;
  padding: 5px 10px;
  width: 538px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.feed-entry:hover .feed-title {
  color: #000;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
  clear: both;
  position: relative;
  color: #eee;
  font-size: 13px;
  background-color: #111111;
  text-align: center;
  padding: 20px 0;
  z-index: 10;
}

#footer .panel-inside {
  line-height: 150%;
  padding-top: 10px;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
  zoom: 1;
}

/* UPLOADED */
#uploaded-header {
  padding: 20px 44px 0px;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  top: 0;
}

.uploaded-derma {
  text-decoration: none;
  font-size: 30px;
  color: #000;
  /* margin-left: 20px; */
}

.uploaded-container-container {
  z-index: 30;
}

.upload-new {
  background: #000;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  color: white;
  padding: 14px;
  text-align: center;
  border-radius: 2px;
}

.upload-new:hover {
  background: #ff8e00;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.predhead-wrap {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  padding-left: 26px;
}

.accuracy {
  /* display: none; */
}

.pred-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0px;
}

#includedContent {
}

#chatbot .user {
  background-color: #589ffb;
  text-align: right;
  border-radius: 12px 12px 0px 12px;
  position: relative;
  color: white;
  /* float: right; */
  right: 0;
  transform: translateX(17%);
}

.input-group {
  background: #ffffff75;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  font-size: 80px;
  float: left;
  /* text-align: left; */
}

.input-group-btn {
  transform: translateY(13px);
}

.btn-file {
  height: 34px;
  border-radius: 50px;
}

#upload-image input {
  background: transparent;
  border: none;
  box-shadow: none;
}

#upload-image label {
  transform: translateX(-45px);
}

.img-wrap {
  position: relative;
  width: 420px;
  background: transparent;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  transform: translateY(20px);
}

.img-wrap:hover #skin-img {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

#skin-img {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  /* border: 2px solid #000; */
  border-radius: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.predhead {
  text-align: left;
  font-size: 20px;
}

.footer-uploaded {
  transform: translateY(105px);
}

.uploaded-wrapper {
  display: flex;
  justify-content: center;

  align-items: center;
  overflow-x: hidden;
}

.uploaded-container {
  transform: translateX(30px) scale(1.2);
}

.chatbot-link {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  transform: translateY(30px);
  display: none;
}

.chatbot-link p {
  color: #00000076;
}

#chatbot .user {
  background-color: #589ffb;
  text-align: right;
  border-radius: 12px 12px 0px 12px;
  position: relative;
  color: white;
  right: 0;
  transform: translateX(227%);
}
